.tratamientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: toop;
    min-height: 100dvh;
    background-color: #0dc7e8
}
.home-nav {
    width: 100%;
    margin-bottom: auto;
}
.te-body {
    margin-top: 2em;
    margin-bottom: auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
